body {
    background-color: bisque;
}

#title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#break-session {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}